<section class="newsletter_sec">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xxl-7 col-lg-8 col-md-9 col-sm-10">
        <div class="content">
          <h2 class="display-5 mb-5">Subscribe to our Newsletter</h2>
          <div class="input-group">
            <input
              type="email"
              class="form-control"
              placeholder="Enter your email"
            />
            <span class="input-group-btn">
              <button class="btn" type="submit">Subscribe Now</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
