#user {
  float: right;
}

.maintenance {
  backdrop-filter: blur(10px);
  background-color: #01223770;
}

.maintenance .on {
  display: block;
}

.maintenance .off {
  display: none;
}

.btn {
  color: #fff;
  background: linear-gradient(90deg, #614b68 0%, #423963 100%);
  float: right;
  border-radius: 10px;
  min-height: 50px;
}

button#dropdownMenuButton1 {
  border-color: #a48ff1;
  background-color: #a48ff1;
  box-shadow: none;
}

a.footer_text.text-center {
  margin-top: -5px;
}

a.nav-link {
  cursor: pointer;
}

.input-group-append {
  float: right;
  border-radius: 5px;
  min-height: 50px;
  border-color: #fff;
}

.form-control:focus {
  box-shadow: none;
  border-color: #fff;
}

.dropdown-item {
  cursor: pointer;
}

.profile_pic {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}
