#user {
  float: right;
}

.btn {
  color: #fff;
  background: linear-gradient(90deg, #614b68 0%, #423963 100%);
  float: right;
  border-radius: 10;
  min-height: 50px;
}

button#dropdownMenuButton1 {
  border-color: #a48ff1;
  background-color: #a48ff1;
  box-shadow: none;
}

a.footer_text.text-center {
  margin-top: -5px;
}

a.nav-link {
  cursor: pointer;
}
