<aside class="sideBar">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="tabPart_1" data-bs-toggle="tab" data-bs-target="#tab_1" href="#" role="tab"
        aria-controls="tab_1" aria-selected="true">
        <h4>JavaScript Quiz</h4>
        <hr class="d-none d-md-block my-0 ms-0 me-0" />
      </a>
    </li>
    <li class="nav-item" role="presentation" *ngFor="let quizlist of menu_sidebar">
      <a class="nav-link" id="tabPart_2" data-bs-toggle="tab" data-bs-target="#tab_2" 
      (click)="navigate(quizlist.slug)" role="tab"
        aria-controls="tab_2" aria-selected="false">{{ quizlist?.name }}</a>
        <ul>
          <li *ngFor="let child of quizlist.children">
            <a class="nav-link" id="tabPart_2" data-bs-toggle="tab" data-bs-target="#tab_2" href="#" role="tab"
              aria-controls="tab_2" aria-selected="false">
              {{ child?.name }}
              <ul>
                <li *ngFor="let subchild of child.children">
                  <a class="nav-link" id="tabPart_2" data-bs-toggle="tab" data-bs-target="#tab_2" href="#" role="tab"
                    aria-controls="tab_2" aria-selected="false">
                    {{ subchild?.name }}
                  </a>
                </li>
              </ul>
            </a>
          </li>
        </ul>
    </li>
  </ul>
</aside>