.form-box {
  /* width: 480px;
  height: 268px;
  padding: 25px;
  background-color: #a48ff1;
  position: relative;
  transform: translate(-50%, -5%);
  left: 50%;
  top: 50%;
  z-index: 1;
  color: white; */
}
.login_form {
}
.login_form label {
  color: var(--bs-black);
  font-size: 14px;
}
.login_form .btn {
  color: var(--bs-white);
  font-size: 14px;
  background: linear-gradient(90deg, #614b68 0%, #423963 100%);
  padding: 10px 25px;
}

.error-msg {
  transform: translate(0%, -85%);
  text-align: center;
  color: red;
  margin-bottom: -24px;
}

.eyeicon {
  position: absolute;
  right: 33px;
  bottom: 80px;
  cursor: pointer;
  color: #a48ff1;
}

a.forgot_password {
  font-size: 13px;
  cursor: pointer;
  color: #979faf;
  font-weight: 400;
  float: right;
}

a:hover {
  color: #463c64;
  text-decoration: underline !important;
}

#modal {
  height: 352px;
}

.email_sent_modal .modal-header h4 {
  color: var(--bs-black);
}

.modal-footer .footer_msg {
  font-size: 15px;
  /* text-align: center; */
  font-weight: 400;
  color: #463c64;
  margin-right: 32px;
}

.show {
  display: block;
}

.hide {
  display: none;
}
