<section class="page_404" *ngIf="load">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-12 col-sm-offset-1">
          <div class="four_zero_four_bg">
            <h1 class="text-center">404</h1>
          </div>

          <div class="contant_box_404">
            <h3 class="title text-center">Look like you're lost</h3>

            <p class="subtitle text-center">Page Not Found!</p>
            <p class="text-center">
              <a href="" class="link_404 text-center">Go to Home</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
