<section class="inner_wrap">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-2">
        <aside class="sideBar">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <a
                class="nav-link"
                id="tabPart_1"
                data-bs-toggle="tab"
                data-bs-target="#tab_1"
                href="#"
                role="tab"
                aria-controls="tab_1"
                aria-selected="true"
                routerLink="/section"
                ><h4>JavaScript Quiz</h4>
                <hr class="d-none d-md-block my-0 ms-0 me-0" />
              </a>
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link active"
                id="tabPart_2"
                data-bs-toggle="tab"
                data-bs-target="#tab_2"
                href="#"
                role="tab"
                aria-controls="tab_2"
                aria-selected="false"
                >Quiz for Beginners</a
              >
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link"
                id="tabPart_3"
                data-bs-toggle="tab"
                data-bs-target="#tab_3"
                href="#"
                role="tab"
                aria-controls="tab_3"
                aria-selected="false"
                >Quiz for Intermediate</a
              >
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link"
                id="tabPart_4"
                data-bs-toggle="tab"
                data-bs-target="#tab_4"
                href="#"
                role="tab"
                aria-controls="tab_4"
                aria-selected="false"
                >Quiz for Advanced</a
              >
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link"
                id="tabPart_5"
                data-bs-toggle="tab"
                data-bs-target="#tab_5"
                href="#"
                role="tab"
                aria-controls="tab_5"
                aria-selected="false"
                >Quiz for ES6
              </a>
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link"
                id="tabPart_6"
                data-bs-toggle="tab"
                data-bs-target="#tab_6"
                href="#"
                role="tab"
                aria-controls="tab_6"
                aria-selected="false"
                >Quiz for JS Objects</a
              >
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link"
                id="tabPart_7"
                data-bs-toggle="tab"
                data-bs-target="#tab_7"
                href="#"
                role="tab"
                aria-controls="tab_7"
                aria-selected="false"
                >Quiz for JS Classes</a
              >
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link"
                id="tabPart_8"
                data-bs-toggle="tab"
                data-bs-target="#tab_8"
                href="#"
                role="tab"
                aria-controls="tab_8"
                aria-selected="false"
                >Quiz for JS Functions</a
              >
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link"
                id="tabPart_9"
                data-bs-toggle="tab"
                data-bs-target="#tab_9"
                href="#"
                role="tab"
                aria-controls="tab_9"
                aria-selected="false"
                >Quiz for JavaScript OOPs</a
              >
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link"
                id="tabPart_10"
                data-bs-toggle="tab"
                data-bs-target="#tab_10"
                href="#"
                role="tab"
                aria-controls="tab_10"
                aria-selected="false"
                >Quiz for JS JSON</a
              >
            </li>
          </ul>
        </aside>
      </div>
      <div class="col-lg-8">
        <div class="start_btn">
          <button (click)="showWarningPopup()">Start Quiz</button>
        </div>
        <div class="info_box" [ngClass]="showWarning ? 'activeInfo' : ''">
          <div class="info-title"><span>Some Rules of this Quiz</span></div>
          <div class="info-list">
            <div class="info">
              1. Once you select your answer it can't be undone.
            </div>
            <div class="info">
              2. You can't exit from the Quiz once Started.
            </div>
          </div>
          <div class="buttons">
            <button class="quit" (click)="start()">Exit Quiz</button>
            <button class="restart" (click)="startQuiz()">Continue</button>
          </div>
        </div>

        <div class="quiz_box" [ngClass]="isQuizStarted ? 'activeQuiz' : ''">
          <header>
            <div class="title">JavaScript Quiz</div>
            <!-- <div class="timer">
              <div class="timer_left_txt">Time Off</div>
              <div class="timer_sec">00</div>
            </div> -->
            <div class="time_line" style="width: 750px"></div>
          </header>
          <section *ngIf="isQuizStarted">
            <div class="que_text">
              <span
                >{{ currentQuestionNo + 1 }}.
                {{ questionsList[currentQuestionNo].question }}
              </span>
            </div>
            <div class="option_list">
              <div
                class="option"
                [ngClass]="{
                  disabled: isOptionSelected(
                    questionsList[currentQuestionNo].options
                  ),
                  correct: option.isSelected && option.isCorrect,
                  incorrect: option.isSelected && !option.isCorrect,
                  select: option.isSelected
                }"
                (click)="selectOption(option)"
                *ngFor="let option of questionsList[currentQuestionNo].options"
              >
                <span>{{ option.answer }}</span>
              </div>
            </div>
          </section>
          <footer>
            <div class="total_que">
              <span
                ><p>{{ currentQuestionNo + 1 }}</p>
                of
                <p>{{ questionsList.length }}</p>
                Questions</span
              >
            </div>
            <button
              *ngIf="currentQuestionNo + 1 == questionsList.length"
              class="next_btn show"
              (click)="finish()"
            >
              Finish
            </button>
            <button
              *ngIf="currentQuestionNo + 1 !== questionsList.length"
              class="next_btn show"
              (click)="nextQuestion()"
            >
              Next Que
            </button>
          </footer>
        </div>
        <div class="result_box" [ngClass]="isQuizEnded ? 'activeResult' : ''">
          <div class="icon">
            <i class="fas fa-crown"></i>
          </div>
          <div class="complete_text">You've completed the Quiz!</div>
          <div class="score_text">
            <span
              >and congrats! You got
              <p>{{ correctAnswerCount }}</p>
              out of
              <p>{{ questionsList.length }}</p>
            </span>
          </div>
          <div class="buttons">
            <button class="restart" (click)="replay()">Replay quiz</button>
            <button class="quit" (click)="start()">Quit Quiz</button>
          </div>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="add_part">
          <h2 class="addSection">Ads Section</h2>
          <hr class="d-none d-md-block my-2 ms-0" />
          <img
            class="ad_img"
            src="assets\images\keralaspices-ad300×600-px-medium.jpg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</section>
