/* importing google fonts */
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"); */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
} */

/* body {
  background: #007bff;
} */

::selection {
  color: #fff;
  background: #007bff;
}
.quiz_box {
  position: absolute;
  /* top: 63%; */
  margin-top: 190px;
  left: 49%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.result_box {
  position: absolute;
  /* top: 60%; */
  margin-top: 190px;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* .start_btn {
  */
  .start_btn {
    position: absolute;
    margin-top: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.info_box {
  position: absolute;
  /* top: 60%; */
  margin-top: 150px;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info_box.activeInfo,
.quiz_box.activeQuiz,
.result_box.activeResult {
  opacity: 1;
  z-index: 5;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.start_btn button {
  font-size: 25px;
  font-weight: 500;
  color: white;
  padding: 15px 30px;
  outline: none;
  border: none;
  border-radius: 35px;
  background: linear-gradient(90deg,#614b68 0%,#423963 100%);
  cursor: pointer;
}

.start_btn button:hover {
  background: #795ed9;
}
.info_box {
  width: 600px;
  background: #efeafe;
  border-radius: 5px;
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.info_box .info-title {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: center;
  padding: 0 30px;
  border-radius: 5px 5px 0 0;
  font-size: 20px;
  font-weight: 600;
  /* color: #795ed9; */
  color: #423963;
}

.info_box .info-list {
  padding: 15px 30px;
}

.info_box .info-list .info {
  margin: 5px 0;
  font-size: 17px;
  color: #a48ff1;
}

.info_box .buttons {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 30px;
  border-top: 1px solid lightgrey;
}

.info_box .buttons button {
  margin: 0 5px;
  height: 40px;
  width: 100px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid #a48ff1;
  transition: all 0.3s ease;
}

.quiz_box {
  width: 750px;
  background: #efeafe;
  border-radius: 5px;
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.quiz_box header {
  position: relative;
  z-index: 2;
  height: 70px;
  padding: 0 16px;
  background: #efeafe;
  border-radius: 5px 5px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
}

.quiz_box header .title {
  font-size: 1.4rem;
  font-weight: 600;
  color: #795ed9;
}

.quiz_box header .time_line {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 3px;
  background: #a48ff1;
}

section {
  /* padding: 25px 30px 20px 30px; */
  background: #fff;
}

section .que_text {
  font-size: 1.1rem;
  font-weight: 600;
  /* padding: 10px; */
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  display: flex;
}

section .que_text span {
  margin-left: 3px;
}

section .option_list {
  padding: 10px 0px;
  display: block;
  padding-left: 20px;
  padding-right: 20px;
}

section .option_list .option {
  background: #efeafe;
  border: 1px solid #a48ff1;
  border-radius: 5px;
  padding: 6px 10px;
  font-size: 0.9rem;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section .option_list .option:last-child {
  margin-bottom: 0px;
}

section .option_list .option:hover {
  color: black;
  background: #a48ff1;
  border: 1px solid #b8daff;
}

section .option_list .option.select {
  color: black;
  background: #a48ff1;
  border: 1px solid #b8daff;
}

.bulet {
  color: black !important;
  background: #a48ff1 !important;
  border: 1px solid #b8daff !important;
}

section .option_list .option.disabled {
  pointer-events: none;
}

section .option_list .option .icon {
  height: 26px;
  width: 26px;
  border: 2px solid transparent;
  border-radius: 50%;
  text-align: center;
  font-size: 13px;
  pointer-events: none;
  transition: all 0.3s ease;
  line-height: 24px;
}

footer {
  height: 60px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid lightgrey;
}

footer .total_que span {
  display: flex;
  user-select: none;
}

footer .total_que span p {
  font-weight: 500;
  padding: 0 5px;
  color: #a48ff1;
}

footer .total_que span p:first-child {
  padding-left: 0px;
}

footer button {
  height: 40px;
  padding: 0 13px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 5px;
  background: #a48ff1;
  border: 1px solid #a48ff1;
  line-height: 10px;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.95);
  transition: all 0.3s ease;
}

footer button:hover {
  background: #795ed9;
}

footer button.show {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}

.result_box {
  background: #efeafe;
  border-radius: 5px;
  display: flex;
  padding: 25px 30px;
  width: 600px;
  height: 360px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.result_box .icon {
  font-size: 100px;
  color: #795ed9;
  margin-bottom: 10px;
}

.result_box .complete_text {
  font-size: 20px;
  font-weight: 500;
}

.result_box .score_text span {
  display: flex;
  margin: 10px 0;
  font-size: 18px;
  font-weight: 500;
}

.result_box .score_text span p {
  padding: 0 4px;
  font-weight: 600;
}

.result_box .buttons {
  display: flex;
  margin: 20px 0;
}

.result_box .buttons button {
  margin: 0 10px;
  height: 45px;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid #a48ff1;
  transition: all 0.3s ease;
}

.buttons button.restart {
  color: #fff;
  /* background: #a48ff1; */
  background: linear-gradient(90deg,#614b68 0%,#423963 100%);
}

.buttons button.restart:hover {
  background: #795ed9;
}

.buttons button.quit {
  color: #a48ff1;
  background: #fff;
}

.buttons button.quit:hover {
  color: #fff;
  background: #795ed9;
}

.addSection {
  text-align: center;
  color: #a48ff1;
}

.nav-link:hover {
  color: #623ceb;
}

.nav-tabs .nav-link {
  /* color: #4e22ed; */
  /* color: #a48ff1; */
  color: linear-gradient(90deg,#614b68 0%,#423963 100%);
}

/* .nav-link.active:hover {
  color: #623ceb;
} */

.nav-tabs .nav-link.active {
  /* color: #4e22ed; */
  color: linear-gradient(90deg,#614b68 0%,#423963 100%);
}

.ad_img {
  height: 335px;
  width: 182px;
}

.sideBar .nav li a {
  margin-left: -21px;
}

hr:not([size]) {
  height: 2px;
}
