<section class="inner_wrap">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3">
        <app-sidebar-menu></app-sidebar-menu>
      </div>
      <div class="col-lg-7">
        <div class="start_btn">
          <button (click)="showWarningPopup()">Start Quiz</button>
          <div *ngIf="status">
            <app-login-modal></app-login-modal>
          </div>
        </div>
        <div class="info_box" [ngClass]="showWarning ? 'activeInfo' : ''">
          <div class="info-title"><span>Some Rules of this Quiz</span></div>
          <div class="info-list">
            <div class="info">
              1. Once you select your answer it can't be undone.
            </div>
            <div class="info">
              2. You can't exit from the Quiz once Started.
            </div>
          </div>
          <div class="buttons">
            <button class="quit" (click)="start()">Exit Quiz</button>
            <button class="restart" (click)="startQuiz()">Continue</button>
          </div>
        </div>

        <div class="quiz_box" [ngClass]="isQuizStarted ? 'activeQuiz' : ''">
          <header>
            <div class="title">{{ capitalizeFirstLetter(param) }} Quiz</div>
            <!-- <div class="timer">
              <div class="timer_left_txt">Time Off</div>
              <div class="timer_sec">00</div>
            </div> -->
            <div class="time_line" style="width: 750px"></div>
          </header>
          <section *ngIf="isQuizStarted">
            <div class="que_text">
              {{ currentQuestionNo + 1 }}.
              <span [innerHTML]="shuffled[currentQuestionNo].question"> </span>
            </div>
            <div class="option_list">
              <div
                class="option"
                [ngClass]="activeId == i ? 'option bulet' : 'option'"
                (click)="selectOption(i, option)"
                *ngFor="
                  let option of questionsList[currentQuestionNo].options;
                  index as i
                "
              >
                <span>{{ option }}</span>
              </div>
            </div>
          </section>
          <footer>
            <div class="total_que">
              <span
                ><p>{{ currentQuestionNo + 1 }}</p>
                of
                <p>{{ questionsList.length }}</p>
                Questions</span
              >
            </div>
            <button
              *ngIf="currentQuestionNo + 1 == questionsList.length"
              class="next_btn show"
              (click)="finish(questionsList[currentQuestionNo])"
            >
              Finish
            </button>
            <button
              *ngIf="currentQuestionNo + 1 !== questionsList.length"
              class="next_btn show"
              (click)="nextQuestion(questionsList[currentQuestionNo])"
            >
              Next Que
            </button>
          </footer>
        </div>
        <div class="result_box" [ngClass]="isQuizEnded ? 'activeResult' : ''">
          <div class="icon">
            <i class="fa fa-trophy"></i>
          </div>
          <div class="complete_text">You've completed the Quiz!</div>
          <div class="score_text">
            <span class="complete_result"
              >You got
              <p>{{ userPoint }}</p>
              out of
              <p>{{ questionsList.length }}</p>
            </span>
          </div>
          <div class="buttons">
            <button class="restart" (click)="replay()">Replay quiz</button>
            <!-- <button class="quit" (click)="start()">Quit Quiz</button> -->
            <button class="quit" (click)="start()">Quit Quiz</button>
            <div *ngIf="userLogin">
              <button class="details" (click)="inDetails()">
                Result Details
              </button>
            </div>
          </div>
        </div>
        <div
          class="result_details_box"
          [ngClass]="isResultDetails ? 'activeResultDetails' : ''"
        >
          <div *ngIf="resultDetails">
            <div class="details_title">
              Result in Details of the {{ capitalizeFirstLetter(param) }} Quiz
            </div>
            <div class="result-list">
              <div class="result">
                1. Quiz Name:
                <span class="result_outcome">{{ getslug }}</span>
              </div>
              <div class="result">
                2. Result:
                <span class="result_outcome">{{ resultDetails.status }}</span>
              </div>
              <div class="result">
                3. Total Question Attend:
                <span class="result_outcome">{{
                  resultDetails.attendedQuestionCount
                }}</span>
              </div>
              <div class="result">
                4. Total Right Answer Attend:
                <span class="result_outcome">{{
                  resultDetails.rightAnswerCount
                }}</span>
              </div>
              <div class="result">
                5. Get Total Point:
                <span class="result_outcome">{{ resultDetails.point }}</span>
              </div>
            </div>
            <div class="result">
              <div class="message">{{ statusMessage }}</div>
            </div>
          </div>
          <div class="button">
            <!-- <button class="restart" (click)="replay()">Replay quiz</button>
            <button class="quit" (click)="start()">Quit Quiz</button> -->
            <button class="description" (click)="description()">
              Answer Description
            </button>
          </div>
        </div>
        <div
          class="ans_description_box"
          [ngClass]="isAnswerDescription ? 'activeAnswerDetails' : ''"
        >
          <div>
            <div class="description_title">
              Answer Description of {{ capitalizeFirstLetter(param) }} Quiz
            </div>
            <div
              class="description-list"
              *ngFor="let ans of questionsList; let i = index"
            >
              <div class="description_question">
                <span class="ansDescription_title">Q{{ i + 1 }}. </span>
                <span
                  class="description_outcome"
                  [innerHTML]="ans.question"
                  style="margin-left: 4px"
                >
                </span>
              </div>
              <div class="description_correct">
                <!-- <span class="ansDescription_title">Correct Answer:</span> -->
                <span class="ansDescription_rightans">
                  {{ ans.rightoption }}</span
                >
              </div>
              <div class="description_answer">
                <span class="ansDescription_title">Description:</span>
                <span
                  class="description_outcome"
                  [innerHTML]="ans.rightAnswerDescription"
                  style="margin-left: 4px"
                >
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="add_part">
          <h2 class="addSection">Ads Section</h2>
          <hr class="d-none d-md-block my-2 ms-0" />
          <img
            class="ad_img"
            src="assets\images\keralaspices-ad300×600-px-medium.jpg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</section>
