.tabs-left {
  border-bottom: none;
  border-right: 1px solid #ddd;
}

.tabs-left > li {
  float: none;
  margin: 0px;
}

.tabs-left > li.active > a,
.tabs-left > li.active > a:hover,
.tabs-left > li.active > a:focus {
  border-bottom-color: #ddd;
  border-right-color: transparent;
  background: #a48ff1;
  border: none;
  border-radius: 0px;
  margin: 0px;
}
.nav-tabs > li > a:hover {
  /* margin-right: 2px; */
  line-height: 1.42857143;
  border: 1px solid transparent;
  /* border-radius: 4px 4px 0 0; */
}
.tabs-left > li.active > a::after {
  content: "";
  position: absolute;
  top: 10px;
  right: -10px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-left: 10px solid #f90;
  display: block;
  width: 0;
}
.title {
  font-weight: 700;
  padding-top: 9px;
  color: #a48ff1;
  margin-left: 28px;
  font-size: 17px;
}

.nav-link {
  color: #a48ff1;
  font-weight: 600;
}

.nav-pills .nav-link.active {
  background-color: #423963;
}

.col-sm-12 {
  padding: 20px;
}

table.table.table-bordered {
  border: 1px solid #a48ff1;
}

.heading th {
  color: #4e22ed;
  text-align: center;
}

.details td {
  color: #a48ff1;
  text-align: center;
}

.details td.tryAgain {
  cursor: pointer;
}

.details td.tryAgain:hover {
  color: #4e22ed;
}

.details th {
  color: #a48ff1;
}

.details td.Pass {
  color: green;
}

.details td.Fail {
  color: red;
}

.pagination {
  padding: 20px 16px;
  float: right;
  font-size: 18px;
}

.pagination::ng-deep .ngx-pagination .current {
  background: #39f;
}
.pagination::ng-deep .ngx-pagination .ng-star-inserted {
  text-decoration: none;
}

.img-account-profile {
  height: 10rem;
}
.rounded-circle {
  border-radius: 50% !important;
}
.card {
  box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}
.card .card-header {
  font-weight: 500;
}
.card-header:first-child {
  border-radius: 0.35rem 0.35rem 0 0;
}
.card-header {
  padding: 1rem 1.35rem;
  margin-bottom: 0;
  background-color: rgba(33, 40, 50, 0.03);
  border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}
.form-control,
.dataTable-input {
  display: block;
  width: 100%;
  padding: 0.875rem 1.125rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1;
  color: #69707a;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #c5ccd6;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.35rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav-borders .nav-link.active {
  color: #0061f2;
  border-bottom-color: #0061f2;
}
.nav-borders .nav-link {
  color: #69707a;
  border-bottom-width: 0.125rem;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0;
  padding-right: 0;
  margin-left: 1rem;
  margin-right: 1rem;
}

.panel-title {
  font-size: 16px;
  padding: 0.5rem 1rem;
  margin-bottom: 0px;
}

.second.card.mb-4.mb-xl-0 {
  margin-top: 5px;
}

input.cPassword.form-control {
  padding: 0.375rem 0.75rem;
  margin-top: -5px;
}
input.nPassword.form-control {
  padding: 0.375rem 0.75rem;
  margin-top: 5px;
}
button.change.btn.btn-primary {
  margin-top: 10px;
}

.picture.card-body.text-center {
  margin-top: -10px;
}

button.save.btn.btn-primary {
  margin-top: 16px;
}

form.password {
  margin-bottom: 17px;
}

.success-msg {
  color: #7d65d7;
  margin-bottom: -22px;
  font-size: 14px;
}

.error-msg {
  color: red;
  margin-bottom: -22px;
  font-size: 14px;
}

.eyeicon1 {
  position: absolute;
  right: 25px;
  cursor: pointer;
  color: #a48ff1;
  bottom: 137px;
}

span.eyeicon2 {
  cursor: pointer;
  color: #a48ff1;
  position: absolute;
  right: 25px;
  bottom: 101px;
}

.eyeicon3 {
  cursor: pointer;
  color: #a48ff1;
  position: absolute;
  right: 25px;
  bottom: 64px;
}

.images {
  height: 30px;
  width: 30px;
  padding: 0px;
  cursor: pointer;
}

p.msg {
  margin-bottom: 0px;
  text-align: center;
  color: green;
  font-size: 16px;
}

p.text {
  margin-bottom: 0px;
  font-size: 16px;
  color: #7d65d7;
  text-align: center;
}

.title-text {
  color: gray;
  margin-bottom: 0px;
  font-size: 16px;
}

.title-text2 {
  color: gray;
  margin-bottom: 0px;
  font-size: 16px;
}

i#spinner {
  font-size: 24px;
  color: #7d65d7;
}

.error {
  font-size: 11px;
  float: left;
  margin-left: 5px;
}