<section class="inner_wrap">
  <div class="container-fluid">
    <div class="header_banners header_banner_example">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <div class="header_title">
              <div class="header_title_image">
                <img
                  src="https://img.icons8.com/external-tanah-basah-basic-outline-tanah-basah/70/a48ff1/external-javascript-social-media-tanah-basah-basic-outline-tanah-basah.png"
                  alt=""
                />
              </div>
              <div class="title_details">
                <h2 class="title_details_title">
                  {{ capitalizeFirstLetter(param) }} Examples
                </h2>
              </div>
            </div>
            <div class="header_description pb-9x">
              <p class="description">
                JavaScript is a versatile and widely-used programming language
                primarily used for front-end web development. It allows
                developers to create interactive and dynamic elements on
                websites, enhancing user experiences. JavaScript is a
                client-side scripting language, meaning it runs in the user's
                web browser, enabling real-time interactions without the need
                for frequent server requests.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main_section section">
      <div class="container">
        <div class="example_section">
          <div class="row">
            <div class="col-sm-12">
              <div class="example_content">
                <div class="example_section_left">
                  <div class="section_left_container">
                    <form
                      class="ctools-auto-submit-full-form ctools-auto-submit-processed jquery-once-2-processed"
                    >
                      <div class="form_widget">
                        <div class="form_items">
                          <div class="form_items items_link">
                            <a href="" class="items_link_node">All Examples</a>
                          </div>
                          <div class="form_items items_link">
                            <a href="" class="items_link_node">Introduction</a>
                          </div>
                          <div class="form_items items_link">
                            <a href="" class="items_link_node">Functions</a>
                          </div>
                          <div class="form_items items_link">
                            <a href="" class="items_link_node"
                              >Arrays and Objects</a
                            >
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="example_section_right">
                  <ol>
                    <li>
                      <a href="">JavaScript Program To Print Hello World</a>
                    </li>
                    <li>
                      <a href="">JavaScript Program to Add Two Numbers</a>
                    </li>
                    <li>
                      <a href="">JavaScript Program to Find the Square Root</a>
                    </li>
                    <li>
                      <a href=""
                        >JavaScript Program to Calculate the Area of a
                        Triangle</a
                      >
                    </li>
                    <li>
                      <a href="">JavaScript Program to Swap Two Variables</a>
                    </li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row d-none d-md-flex">
      <div class="col-sm-12">
        <h3 class="popular-example">Popular Examples</h3>
      </div>
      <div class="col-lg-3">
        <a href="" title="first example">
          <div
            class="card card_spacing card_contents card_contents_blue card_contents_1"
          >
            <p class="card_title">JS Examples</p>
            <p class="card_blog">Print Hello World</p>
          </div>
        </a>
      </div>

      <div class="col-lg-3">
        <a href="" title="second example">
          <div
            class="card card_spacing card_contents card_contents_purple card_contents_2"
          >
            <p class="card_title">JS Examples</p>
            <p class="card_blog">Generate a Random Number</p>
          </div>
        </a>
      </div>

      <div class="col-lg-3">
        <a href="" title="third example">
          <div
            class="card card_spacing card_contents card_contents_blue card_contents_3"
          >
            <p class="card_title">JS Examples</p>
            <p class="card_blog">Check Prime Number</p>
          </div>
        </a>
      </div>

      <div class="col-lg-3">
        <a href="" title="fourth example">
          <div
            class="card card_spacing card_contents card_contents_purple card_contents_4"
          >
            <p class="card_title">JS Examples</p>
            <p class="card_blog">Factorial of a Number</p>
          </div>
        </a>
      </div>
          
    </div>
     
    <!-- <div class="row">
      <div class="col-lg-3">
        <app-sidebar-list></app-sidebar-list>
      </div>
      <div class="col-lg-7"></div>
      <div class="col-lg-2">
        <app-ad-sidebar></app-ad-sidebar>
      </div>
    </div> -->
  </div>
</section>
