<section class="inner_wrap">
  <div class="container-fluid">
    <div class="header_banners header_banner_example">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12" *ngIf="examplesHeader">
            <div class="header_title">
              <div class="header_title_image">
                <img src="{{ examplesHeader.featureImg }}" alt="" />
              </div>
              <div class="title_details">
                <h2 class="title_details_title">
                  {{ capitalizeFirstLetter(param) }} Examples
                </h2>
              </div>
            </div>
            <div class="header_description pb-9x">
              <p
                class="description"
                [innerHTML]="examplesHeader.description"
              ></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main_section section">
      <div class="container-fluid">
        <div class="example_section">
          <div class="row">
            <div class="col-sm-12">
              <div class="example_tab_content">
                <div class="example_section_left">
                  <div class="section_left_container">
                    <form
                      class="ctools-auto-submit-full-form ctools-auto-submit-processed jquery-once-2-processed"
                    >
                      <div class="form_widget">
                        <div class="form_items" *ngFor="let key of keys">
                          <div class="form_items items_link">
                            <a href="" class="items_link_node">{{ key }}</a>
                          </div>
                          <!-- <div class="form_items items_link">
                            <a href="" class="items_link_node">Introduction</a>
                          </div>
                          <div class="form_items items_link">
                            <a href="" class="items_link_node">Functions</a>
                          </div>
                          <div class="form_items items_link">
                            <a href="" class="items_link_node"
                              >Arrays and Objects</a
                            >
                          </div> -->
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="example_section_right">
                  <ol>
                    <li *ngFor="let examples of array">
                      <a class="example_link_node" href="">{{
                        examples.title
                      }}</a>
                    </li>
                    <!-- <li>
                      <a class="example_link_node" href=""
                        >JavaScript Program to Add Two Numbers</a
                      >
                    </li>
                    <li>
                      <a class="example_link_node" href=""
                        >JavaScript Program to Find the Square Root</a
                      >
                    </li>
                    <li>
                      <a class="example_link_node" href=""
                        >JavaScript Program to Calculate the Area of a
                        Triangle</a
                      >
                    </li>
                    <li>
                      <a class="example_link_node" href=""
                        >JavaScript Program to Swap Two Variables</a
                      >
                    </li> -->
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row d-none d-md-flex">
        <div class="col-sm-12">
          <h3 class="popular-example">Related Search</h3>
        </div>
        <div class="col-lg-3">
          <a href="" title="first example">
            <div
              class="card card_spacing card_contents card_contents_blue card_contents_1"
            >
              <p class="card_title">JS Examples</p>
              <p class="card_blog">Print Hello World</p>
            </div>
          </a>
        </div>

        <div class="col-lg-3">
          <a href="" title="second example">
            <div
              class="card card_spacing card_contents card_contents_purple card_contents_2"
            >
              <p class="card_title">JS Examples</p>
              <p class="card_blog">Generate a Random Number</p>
            </div>
          </a>
        </div>

        <div class="col-lg-3">
          <a href="" title="third example">
            <div
              class="card card_spacing card_contents card_contents_blue card_contents_3"
            >
              <p class="card_title">JS Examples</p>
              <p class="card_blog">Check Prime Number</p>
            </div>
          </a>
        </div>

        <div class="col-lg-3">
          <a href="" title="fourth example">
            <div
              class="card card_spacing card_contents card_contents_purple card_contents_4"
            >
              <p class="card_title">JS Examples</p>
              <p class="card_blog">Factorial of a Number</p>
            </div>
          </a>
        </div>
      </div>
    </div>

    <!-- <div class="row">
      <div class="col-lg-3">
        <app-sidebar-list></app-sidebar-list>
      </div>
      <div class="col-lg-7"></div>
      <div class="col-lg-2">
        <app-ad-sidebar></app-ad-sidebar>
      </div>
    </div> -->
  </div>
</section>
