<section class="inner_wrap">
  <div class="container-fluid">
    <div class="header_banners header_banner_example">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12" *ngIf="examplesHeader">
            <div class="header_title">
              <div class="header_title_image">
                <img src="{{ examplesHeader.featureImg }}" alt="" />
              </div>
              <div class="title_details">
                <h2 class="title_details_title">
                  {{ capitalizeFirstLetter(param) }} Examples
                </h2>
              </div>
            </div>
            <div class="header_description pb-9x">
              <p
                class="description"
                [innerHTML]="examplesHeader.description"
              ></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="main_section section">
      <div class="container-fluid">
        <div class="example_section">
          <div class="row">
            <div class="col-sm-12">
              <div class="example_tab_content">
                <div class="example_section_left">
                  <div class="section_left_container">
                    <form
                      class="ctools-auto-submit-full-form ctools-auto-submit-processed jquery-once-2-processed"
                    >
                      <div class="form_widget">
                        <div class="form_items">
                          <div
                            class="form_items items_link"
                            [ngClass]="
                              activeTopic == 'All'
                                ? 'form_items items_link active'
                                : 'form_items items_link'
                            "
                          >
                            <a
                              (click)="getLeftValue('All')"
                              class="items_link_node"
                              >ALL</a
                            >
                          </div>
                        </div>
                        <div class="form_items" *ngFor="let key of rightTopic">
                          <div
                            [ngClass]="
                              key == activeTopic
                                ? 'form_items items_link active'
                                : 'form_items items_link'
                            "
                          >
                            <a
                              (click)="getLeftValue(key)"
                              class="items_link_node"
                              >{{ key }}</a
                            >
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="example_section_right">
                  <ol *ngIf="allBlogList.length > 0 && activeAll == true">
                    <li *ngFor="let allblog of allBlogList">
                      <a
                        class="example_link_node"
                        (click)="navigate(allblog.sort_slug)"
                        >{{ allblog["title"] }}</a
                      >
                    </li>
                  </ol>
                  <ol>
                    <li *ngFor="let blog of leftBlogList">
                      <a
                        class="example_link_node"
                        (click)="navigate(blog['sort_slug'])"
                        >{{ blog["title"] }}</a
                      >
                    </li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row d-none d-md-flex">
        <div class="col-sm-12">
          <h3 class="popular-example">Related Search</h3>
        </div>

        <div
          id="carouselExampleControls"
          class="carousel carousel-dark slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div
                class="card-wrapper container-sm d-flex justify-content-around"
              >
                <div
                  class="card card_spacing card_contents card_contents_blue card_contents_1"
                  style="width: 18rem"
                  *ngFor="let allblog of allBlogList.slice(0, 4)"
                >
                  <div class="card-body" *ngIf="examplesHeader">
                    <p class="card-title">
                      {{ capitalizeFirstLetter(param) }} Examples
                    </p>
                    <p class="card-text">
                      {{ allblog["sort_title"] }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div
                class="card-wrapper container-sm d-flex justify-content-around"
              >
                <div
                  class="card card_spacing card_contents card_contents_blue card_contents_1"
                  style="width: 18rem"
                  *ngFor="let allblog of allBlogList.slice(4, 8)"
                >
                  <div class="card-body" *ngIf="examplesHeader">
                    <h5 class="card-title">
                      {{ capitalizeFirstLetter(param) }} Examples
                    </h5>
                    <p class="card-text">
                      {{ allblog["sort_title"] }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div
                class="card-wrapper container-sm d-flex justify-content-around"
              >
                <div
                  class="card card_spacing card_contents card_contents_blue card_contents_1"
                  style="width: 18rem"
                  *ngFor="let allblog of allBlogList.slice(8, 12)"
                >
                  <div class="card-body" *ngIf="examplesHeader">
                    <h5 class="card-title">
                      {{ capitalizeFirstLetter(param) }} Examples
                    </h5>
                    <p class="card-text">
                      {{ allblog["sort_title"] }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleControls"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleControls"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
