<!-- The Modal -->
<div [class]="modalClass" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">
          {{ showLogin == true ? "Sign In" : "Sign Up" }}
        </h4>
        <button
          type="button"
          class="btn-close"
          #closebutton
          data-bs-dismiss="modal"
          (click)="closeModal()"
        ></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div *ngIf="showLogin">
          <app-login></app-login>
        </div>
        <div *ngIf="!showLogin">
          <app-sign-up></app-sign-up>
        </div>
      </div>
      <a class="footer_text text-center" (click)="changeLogin(showLogin)">{{
        showLoginText
      }}</a>
    </div>
  </div>
</div>
