<!-- The Modal -->
<div class="login_modal" [class]="modalClass" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">
          {{ showLogin == true ? "Sign In" : "Sign Up" }}
        </h4>
        <button
          type="button"
          class="btn-close"
          #closebutton
          data-bs-dismiss="modal"
          (click)="closeModal()"
        ></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div *ngIf="showLogin">
          <app-login></app-login>
        </div>
        <div *ngIf="!showLogin">
          <app-sign-up></app-sign-up>
        </div>
      </div>
      <div class="modal-footer">
        
        <div id="g_id_onload"
          data-client_id="299381234173-8hophpg438700eseohdge8uc5fkndv3t.apps.googleusercontent.com"
          data-context="signin"
          data-ux_mode="popup"
          data-login_uri="http://localhost:4200"
          data-auto_prompt="false">
          hi
        </div>

        <div class="g_id_signin"
          data-type="standard"
          data-shape="rectangular"
          data-theme="outline"
          data-text="signin_with"
          data-size="large"
          data-logo_alignment="left">
          hello
        </div>
        <a class="footer_text text-center" (click)="changeLogin(showLogin)">{{
          showLoginText
        }}</a>
      </div>
    </div>
  </div>
</div>
