<section class="why_sec">
  <div class="animated_part">
    <img src="assets/images/shap2.png" alt="" class="w-100" />
  </div>

  <div class="py-6 bg-light-primary">
    <div class="container">
      <div class="row justify-content-center text-center mb-4">
        <div class="col-xl-6 col-lg-8 col-sm-10">
          <h2 class="font-weight-bold">
            The Perfect Blend of Features <br />for your Company
          </h2>
          <p class="text-muted mb-0">
            We bring the results while helping you achieve cost and time savings
            without taking on risk or management overhead.
          </p>
        </div>
      </div>

      <div
        class="row row-cols-lg-3 row-cols-md-2 row-cols-1 text-center justify-content-center"
      >
        <div class="col-4 my-3" *ngFor="let menulist of menu">
          <div
            class="card border-hover-primary hover-scale"
            (click)="navigate(menulist.slug)"
          >
            <div class="card-body">
              <div class="text-primary mb-4">
                <img src="{{ menulist.featureImg }}" alt="" />
              </div>
              <h6 class="font-weight-bold mb-3">{{ menulist?.name }}</h6>
              <p class="text-muted mb-0">{{ menulist.home_tagline }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
