.form-box1 {
  /*  width: 480px;
  height: auto;
  padding: 25px;
  background-color: #a48ff1;
  position: relative;
  transform: translate(-50%, -3%);
  left: 50%;
  top: 50%;
  color: white;
  z-index: -1; */
}
.login_form {
}
.login_form label {
  color: var(--bs-black);
  font-size: 14px;
}
.login_form .btn {
  color: var(--bs-white);
  font-size: 14px;
  background: linear-gradient(90deg, #614b68 0%, #423963 100%);
  padding: 10px 25px;
}

.error-msg {
  text-align: center;
  color: red;
  font-size: 15px;
  margin-bottom: -22px;
  transform: translate(0%, -90%);
}

.eyeicon {
  position: absolute;
  right: 11px;
  bottom: 8px;
  cursor: pointer;
  color: #a48ff1;
}

.eyeicon2 {
  position: absolute;
  right: 11px;
  bottom: 8px;
  cursor: pointer;
  color: #a48ff1;
}
