<section class="inner_wrap">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3">
        <app-sidebar-menu></app-sidebar-menu>
      </div>
      <div class="col-lg-7" style="background-color: white">
        <div class="row" *ngIf="flag">
          <div class="col-sm-6 mt-3" *ngFor="let quizlist of list">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title" [routerLink]="quizlist.slug">
                  {{ quizlist?.name }}
                </h5>
                <p class="card-text" [innerHTML]="quizlist.description"></p>
                <a href="#" [routerLink]="quizlist.slug" class="btn btn-sm"
                  >Click to Start</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngIf="!flag">
          <div class="alert" role="alert">
            <app-pagenotfound></app-pagenotfound>
          </div>
        </div>
      </div>
      <div class="col-lg-2">
        <app-ad-sidebar></app-ad-sidebar>
      </div>
    </div>
  </div>
</section>
