<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p class="caution" *ngIf="!status">
        {{ cautionMessage }}
      </p>
      <div class="reset_password_form" *ngIf="status">
        <form
          [formGroup]="reset_password"
          (ngSubmit)="resetPasswordData(reset_password.value)"
          class="form-box"
        >
          <div class="form-group mb-3">
            <label>New Password</label>

            <input
              [type]="changetype1 ? 'password' : 'text'"
              class="form-control"
              required
              formControlName="password"
            />
          </div>
          <span class="eyeicon1" (click)="viewpass1()"
            ><i [ngClass]="visible1 ? 'fa fa-eye-slash' : ' fa fa-eye'"></i
          ></span>
          <div class="form-group mb-3">
            <label>Confirm New Password</label>

            <input
              [type]="changetype2 ? 'password' : 'text'"
              class="form-control"
              required
              formControlName="confirmNewPassword"
            />
          </div>
          <span class="eyeicon2" (click)="viewpass2()"
            ><i [ngClass]="visible2 ? 'fa fa-eye-slash' : ' fa fa-eye'"></i
          ></span>

          <button type="submit" class="btn">Reset Password</button>
          <div>
            <p class="success-msg">{{ successMessage }}</p>
          </div>
          <p class="error-msg">
            {{ errMessage }}
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
