<section class="inner_wrap">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-2">
        <aside class="sideBar">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <a
                class="nav-link active"
                id="tabPart_1"
                data-bs-toggle="tab"
                data-bs-target="#tab_1"
                href="#"
                role="tab"
                aria-controls="tab_1"
                aria-selected="true"
                ><h5>JavaScript Quiz</h5></a
              >
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link"
                id="tabPart_2"
                data-bs-toggle="tab"
                data-bs-target="#tab_2"
                href="#"
                role="tab"
                aria-controls="tab_2"
                aria-selected="false"
                >Quiz for Beginners</a
              >
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link"
                id="tabPart_3"
                data-bs-toggle="tab"
                data-bs-target="#tab_3"
                href="#"
                role="tab"
                aria-controls="tab_3"
                aria-selected="false"
                >Quiz for Intermediate</a
              >
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link"
                id="tabPart_4"
                data-bs-toggle="tab"
                data-bs-target="#tab_4"
                href="#"
                role="tab"
                aria-controls="tab_4"
                aria-selected="false"
                >Quiz for Advanced</a
              >
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link"
                id="tabPart_5"
                data-bs-toggle="tab"
                data-bs-target="#tab_5"
                href="#"
                role="tab"
                aria-controls="tab_5"
                aria-selected="false"
                >Contact5</a
              >
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link"
                id="tabPart_6"
                data-bs-toggle="tab"
                data-bs-target="#tab_6"
                href="#"
                role="tab"
                aria-controls="tab_6"
                aria-selected="false"
                >Contact6</a
              >
            </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link"
                id="tabPart_7"
                data-bs-toggle="tab"
                data-bs-target="#tab_7"
                href="#"
                role="tab"
                aria-controls="tab_7"
                aria-selected="false"
                >Contact7</a
              >
            </li>
          </ul>
        </aside>
      </div>
      <div class="col-lg-8" style="background-color: white">
        <div class="row">
          <div class="col-sm-6 mt-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Quiz for Beginners</h5>
                <p class="card-text">
                  With supporting text below as a natural lead-in to additional
                  content.
                </p>
                <a href="#" class="btn btn-sm">Click to Start</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 mt-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Quiz for Intermediate</h5>
                <p class="card-text">
                  With supporting text below as a natural lead-in to additional
                  content.
                </p>
                <a href="#" class="btn btn-sm">Start Quiz</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 mt-3 mb-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Quiz for Advanced</h5>
                <p class="card-text">
                  With supporting text below as a natural lead-in to additional
                  content.
                </p>
                <a href="#" class="btn btn-sm">Start Quiz</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 mt-3 mb-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Quiz for Beginners</h5>
                <p class="card-text">
                  With supporting text below as a natural lead-in to additional
                  content.
                </p>
                <a href="#" class="btn btn-sm">Start Quiz</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 mt-3 mb-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Quiz for Intermediate</h5>
                <p class="card-text">
                  With supporting text below as a natural lead-in to additional
                  content.
                </p>
                <a href="#" class="btn btn-sm">Click to Start</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 mt-3 mb-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Quiz for Advanced</h5>
                <p class="card-text">
                  With supporting text below as a natural lead-in to additional
                  content.
                </p>
                <a href="#" class="btn btn-sm">Click to Start</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="add_part">
          <h2 class="addSection">Ads Section</h2>
        </div>
      </div>
    </div>
  </div>
</section>
