/* .sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 5%;
  height: 10vh;
  overflow: auto;
  max-height: 100vh;
} */

/* .left-sidenav {
  background: #a48ff1;
  position: fixed;
  height: 100%;
  top: 5;
  left: 0;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 20px;
  overflow-y: scroll;
} */

/* .left-sidenav a {
  color: #fff;
  padding: 10px 15px 10px 16px;
  text-decoration: none;
  font-size: 20px;
  display: block;
} */
.btn {
  background-color: #a48ff1;
  color: white;
  border-color: #a48ff1;
}
/* .btn-primary {
  background-color: #a48ff1;
  color: white;
} */
.btn:hover {
  background-color: #7251e9;
  color: white;
  border-color: #a48ff1;
}

.addSection {
  text-align: center;
  color: #a48ff1;
}

.nav-link:hover {
  color: #623ceb;
}

.nav-tabs .nav-link.active {
  color: #4e22ed;
}

.ad_img {
  height: 335px;
  width: 182px;
}

.sideBar .nav li a {
  margin-left: -21px;
}

hr:not([size]) {
  height: 2px;
}
