<section class="inner_wrap">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-2">
          <app-ad-left-sidebar></app-ad-left-sidebar>
        </div>
        <div
          style="background-color: white" class="col-lg-8"
        >
          <div class="row">
            <div class="col-sm-12 mt-3">
                <ul class="list-group list-group-flush" *ngIf="flag">
                  <li class="list-group-item" (click)="render(searchlist.slug)" *ngFor="let searchlist of list" >
                    <img [src]="searchlist?.featureImg">{{ searchlist?.name }}
                    <p [innerHTML]="searchlist?.description"></p>
                  </li>
                </ul>
                <div class="alert alert-light" role="alert" *ngIf="!flag">
                  <h4 class="alert-heading">Oops! search result not found</h4>
                  <!-- <p>Please search again</p> -->
                  <hr>
                  <p class="mb-0">Please search again.</p>
                </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2">
          <app-ad-right-sidebar></app-ad-right-sidebar>
        </div>
      </div>
    </div>
  </section>
  