<footer>
  <section class="top_foot">
    <div class="container-fluid">
      <div class="row row-cols-1 row-cols-md-3">
        <div class="col col-lg-3 col-sm-12 col-md-4">
          <div class="foot_logo">
            <a href="/"
              ><img class="img-fluid mb-4" src="assets/images/logo.png" alt=""
            /></a>
            <p>
              Code is the language of the future. Unlock the power of
              possibilities with coding. Explore your coding journey with
              CodingGuides.
            </p>
          </div>
        </div>

        <div class="col col-lg-7 offset-lg-2 col-md-8">
          <div class="foot_cont">
            <div class="row">
              <div class="col-lg-2 col-sm-4">
                <div class="foot_nav">
                  <ul class="list-unstyled">
                    <li class="nav-item" *ngFor="let firstlist of firstNav">
                      <a class="nav-link" (click)="renderUrl(firstlist.slug)">{{
                        firstlist?.name
                      }}</a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-lg-2 col-sm-4">
                <div class="foot_nav">
                  <ul class="list-unstyled">
                    <li class="nav-item" *ngFor="let secondlist of secondNav">
                      <a
                        class="nav-link"
                        (click)="renderUrl(secondlist.slug)"
                        >{{ secondlist?.name }}</a
                      >
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-lg-2 col-sm-4">
                <div class="foot_nav">
                  <ul class="list-unstyled">
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Let's Talk</a></li>
                  </ul>
                </div>
              </div>

              <div class="col-lg-6 col-sm-4">
                <div class="social_link">
                  <h4>Follow us</h4>
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a
                        href="https://www.facebook.com/codingguidesofficial?mibextid=LQQJ4d"
                        target="_blank"
                        ><i class="fa fa-facebook-f"></i
                      ></a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        href="mailto:info.codingguides@gmail.com"
                        target="_blank"
                        ><i class="fa fa-google"></i
                      ></a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        href="https://instagram.com/coding_guides?igshid=OGQ5ZDc2ODk2ZA=="
                        target="_blank"
                        ><i class="fa fa-instagram"></i
                      ></a>
                    </li>
                    <li class="list-inline-item">
                      <a
                        href="https://www.linkedin.com/company/codingguides/"
                        target="_blank"
                        ><i class="fa fa-linkedin"></i
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="cwrite_sec">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-lg-4">
          <p>Copyright © 2022 codingguides Inc. All Rights Reserved.</p>
        </div>
        <div class="col-lg-5 offset-lg-3">
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="javascript:void(0)" (click)="navigate('disclaimer')"
                >Disclaimer</a
              >
            </li>
            <li class="list-inline-item">
              <a href="javascript:void(0)" (click)="navigate('privacy-policy')"
                >Privacy Policy</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="top_btn">
    <a class="scrollToTop" href="javascript:void(0)" style="display: block">
      <span class="icon linearicons-chevron-up"></span>
    </a>
  </div>
</footer>
